# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode

# gradle
build
.gradle

# other
eclipse
run
run-data
logs
config
mods
*.log
accesstransform.log
hs_err_pid*.log
replay_pid*.log
options.txt
user_jvm_args.txt

# Files from Forge MDK
forge*changelog.txt

# generated and local process files
src/generated
*.class
docs